@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  background-color: #222;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  padding: 10px;
  z-index: 10;
}

input {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 999px;
  background-color: rgba(255, 255, 255, 0.5);
}

button {
  cursor: pointer !important;
  margin-left: 0.5rem;
  height: 30px;
  width: 30px;
  appearance: none;
  border: none;
  background-color: #222;
  color: #eee;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button img {
  max-width: 20px;
  filter: invert(1);
}

button:hover {
  opacity: 0.5;
}

main {
  margin-top: 50px;
}

span#info-text {
  color: #eee;
  margin-left: 10px;
  font-size: 0.7rem;
}

section#icons {
  width: 300px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
}

section#icons div {
  cursor: pointer;
  width: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  text-align: center;
  border-radius: 1rem;
  background-color: #eee;
  user-select: none;
}

section#icons div:hover > img {
  opacity: 0.5;
}

section#icons div img {
  max-width: 100%;
}

section#settings {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

section#settings div {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  background-color: #eee;
  border: 2px solid #eee;
  user-select: none;
  font-size: 0.8rem;
}

section#settings div.selected {
  border: 2px solid #4bb543;
}

section#settings span {
  color: #eee;
  font-size: 0.7rem;
}

article#banner {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: #eee;
  font-size: 0.7rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  backdrop-filter: blur(10px);
  visibility: hidden;
}

.hide {
  display: none !important;
}

.fade {
  animation: fade 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fade {
  0% {
    visibility: visible;
    opacity: 1;
  }
  50% {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
