@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  background-color: #222;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  background-color: #eee;
  width: 100%;
  border-bottom: 1px solid #222;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

input {
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 999px;
}

button {
  cursor: pointer;
  margin-left: 0.5rem;
  appearance: none;
  border: none;
  background-color: #222;
  color: #eee;
  padding: 0.5rem;
  border-radius: 999px;
}

button:hover {
  opacity: 0.5;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

section {
  max-width: 800px;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
}

div {
  cursor: pointer;
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  background-color: #eee;
  user-select: none;
}

div:hover > img {
  opacity: 0.5;
}

div img {
  max-width: 100%;
}
div span {
  display: block;
  margin-top: 1rem;
}
